// Place all the styles related to the Smells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-primary .panel-heading a {
   font-weight: bold;
   color: white;
}

.row {
  background-color: #EDEDED;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #D9D9D9;
}

.panel-heading:hover {
  cursor: pointer;
}