<!DOCTYPE html>
<html>
<head>
  <title>It Smells Here - About</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
<br>
  <div id="about-panel" class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">About</h2>
    </div>
    <div class="panel-body">
      <p>Don’t you hate when you’re walking around the city and you catch a whiff of a repulsive stench? Is it garbage? Is it vomit? Whatever it is, you don’t want to smell it.</p>

      <p>www.ItSmellsHere.com is here to help you avoid these disgusting smells. We built a website that interacts with a Twitter Bot, @itsmellshere. Simply tweet at @itsmellshere about what you’re smelling, and in minutes, your smell will be marked on a map (powered by Google Maps). The tweet itself will appear on the site as well.</p>

      <p>So, next time you smell something, tweet at us! With your help, we can all keep our noses safe from stench.</p>
    </div>
  </div>
  <div id="directions-panel" class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Directions</h2>
    </div>
    <div class="panel-body">
    <ul>
      <li>Make sure you enable Location Services on the device you are tweeting from.</li>
      <li>Tweet at @itsmellshere with information about your smell</li>
      <li>If you tweet at the bot without Location Services enabled, you will receive a reply indicating that you need to enable Location Services.</li>
      <li>Visit “www.itsmellshere.com” to see your tweet on the map! View other tweets and see places to avoid!</li>
      <li>Example: “@itsmellshere Serious garbage stench at 63rd and Lex! #ew #gross"</li>
      </ul>
    </div>
  </div>
  <footer>
    <p id="creators">Created By: Parker Lawrence, Evan Schrager, Ian Valentine</p>
  </footer>
  
</body>
</html>